<!DOCTYPE html>
  <html lang="pt-br" >
  <head>
    <meta charset="UTF-8">
    <title>Aliança Rookie</title>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css'><link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/login-modal.css">
    <link rel="stylesheet" href="../css/conteudoCentral.css">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@100&family=Raleway:wght@100&display=swap" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
  
  </head>
  <body class="fullscreen">
  <!-- partial:index.partial.html -->

    <div class="search-bar">
      <h4>TheRookieAlliance</h4>

        
      <img src="imagem logo.png"  class="img"  alt="">

      <div class="search-box">
        <button class="btn-search"><i class="fas fa-search"></i></button> 
        <input type="text" class="input-search" placeholder="O que você procura?">
      </div>

        <img src="WhatsApp_Image_2024-02-09_at_10.11.54-removebg-preview.png" alt="" class="img2">
    </div>

  <div class="topnav">
    <a href="index.html">Home </a>
    <a id="cdnModal" class="login-button" href="#" data-target="#cadastro" data-toggle="valid">Cadastrar</a>
    <a id="btn-modal" class="login-button" href="#" data-target="#login" data-toggle="modal">Login</a>
    <a href="#about">Filtros</a>
    
 
  </div>

  <div id="nav-bar">
    <input id="nav-toggle" type="checkbox"/>
      <div id="nav-header" class="tittle-menu">
     
    
        <a id="nav-title" href="#" class="tittle-menu">Início</a>
       
        <label for="nav-toggle"><span id="nav-toggle-burger"></span></label>
        
        <hr/>    
      </div>
    
     
   
      <div class="sc">


    <div id="nav-content" class="menu-hover">
    </br></br>
      
      
      <div class="nav-button"  id="btn-menu1"><i class="fas fa-images"></i><span>Objetivos do Site</span></div>

      <div class="nav-button"id="btn-menu2"><i class="fas fa-thumbtack" ></i><span >De Rookie para Rookie - Videoconferência</span></div>

      <div class="nav-button" id="btn-menu3"><i class="fas fa-heart"></i><span >Game Manual 2024 - Crescendo</span></div>

      <div class="nav-button" id="btn-menu4"><i class="fas fa-chart-line" ></i><span >Guia de Montagem - Kitbot  </span></div>

      <div class="nav-button" id="btn-menu5"><i class="fas fa-fire"></i><span >Guia de Montagem - Chassis</span></div>

      <div class="nav-button" id="btn-menu6"><i class="fas fa-magic"></i><span >CAD - Field Game</span></div>

      <div class="nav-button"  id="btn-menu7"><i class="fas fa-gem"></i><span>Guia de Programação</span></div>

      <div class="nav-button"  id="btn-menu8"><i class="fas fa-gem"></i><span> Sobre a FIRST</span></div>

      
      
      <div id="nav-content-highlight"></div>
       
      </div>
                

        </div>
     

        
       

      

    </div>
  <div class="conteudo-total">


 
    
    <div class="conteudo-central" id="conteudo-inicial" style="display: block;">
        <img src="imagem logo.png" alt="">
        <h1>THE ROOKIE ALLIANCE</h1>
        <h2>Para o avanço das equipes Rookies!</h2>
  

        <input type="text" class="input-central" placeholder="">
    
        
    </div>

    <section class="sec-1" id="sec-1" style="display: block;">
    
    </section>

    <section class="sec-2" id="sec-2" style="display: block;">

    </section>


      <div class="objetivo-site" id="cont1" style="display: none;" >
       <h1>Título Chamativo</h1> 

       <p>A Rookie Alliance é a melhor maneira de auxiliar equipes iniciantes compartilhando manuais, 
        documentos e experiências. Nós queremos fazer desse início um momento de grande apoio entre as equipes que 
        participam do First Robotics Competition.
      </p>
      </div>

  <div class="game-manual" id="cont3"  style="display: none;">
    <h1>Game Manual - CRESCENDO</h1>

        <p>Para compreender os processos técnicos, as equipes utilizam o game manual,
             um documento essencial que detalha as regras do desafio anual, as especificações do robô e a estrutura da competição.</p>

        <p>Este manual não é apenas um conjunto de instruções; ele é o guia dos competidores ao longo da temporada, 
            servindo como um recurso imprescindível para a construção de estratégias e compreensão profunda dos objetivos do jogo.
        </p>
</div>

<div class="kitbot-montagem" id="cont4"  style="display: none;">
  <h1>KitBot - Guia de Montagem</h1>      
  
      <p>Fazendo parte do Kit de Peças (KoP), o KitBot foi projetado para ser um ponto de partida acessível e confiável, </p>

      <p>, a partir do qual o robô da equipe começará a ganhar forma. Este manual fornece instruções passo a passo essenciais
           para a montagem do chassi e dos sistemas de transmissão incluídos no Kit de Peças (KoP).</p>

      <p>Ele garante que todas as equipes, independentemente do nível de experiência ou recursos,
           possam começar com uma base resistente e funcional.
      </p>

      <p>Antes de iniciar a montagem, é crucial verificar se todas as peças listadas estão presentes e em boas condições. 
          A falta de qualquer peça ou a presença de peças danificadas pode atrasar o processo de construção e prejudicar a 
          funcionalidade do robô.
      </p>
      
      <p>Incluímos abaixo o layout do chassi, conforme ilustrado no Manual de Montagem do Kit Bot. </p>


</div>

<div class="forRookie" id="cont2"  style="display: none;">
  <h1>Rookie para Rookie - Videoconferência</h1>

   <p>O projeto “Rookie para Rookie” é uma iniciativa criada pela equipe #9487 a fim de aproximar e 
   facilitar o compartilhamento de experiências entre equipes novatas e experientes ao redor do mundo.
    </p> 

    <p> O projeto consiste em uma comunidade criada no whatsapp onde todas as equipes Rookies estão presentes,
        e a cada semana é disponibilizado um cronograma com videoconferências com equipes experientes nacionais e internacionais,
         onde possibilita às equipes tirarem dúvidas e receberem dicas sobre áreas específicas.
          O projeto já contou com diversas participações de equipes como UnderControl #1156, Megazord #7563 entre outras.  
       </p>


</div>

<div class="guia-program" id="cont7"  style="display: none;">
  <h1> Guia de Programação</h1>

      <p>Quando se trata de programação de robôs na FRC, o ponto de partida para novas equipes deve ser a escolha de uma linguagem
           de programação. As opções incluem Java, C++ e LabVIEW. </p>

      <p> A decisão pode ser influenciada pela familiaridade dos mentores e alunos com essas linguagens. </p>

      <p> Uma vez escolhida a linguagem, a biblioteca de software WPILib se revela como um recurso fundamental, 
          oferecendo uma ampla gama de funcionalidades para controlar o hardware do robô</p>
      
      <p>  Explorar os exemplos de código da WPILib e compreender suas aplicações práticas proporciona uma base sólida para o 
          desenvolvimento inicial. A configuração do ambiente de desenvolvimento também é crítica.</p>
      
      <p> A documentação oficial da WPILib, acessível online, é um recurso excelente e detalhado. Tutoriais em vídeo e artigos
           também podem ser encontrados em abundância, criados tanto pela própria FIRST quanto por outras equipes experientes.
            A simulação é outra ferramenta valiosa, permitindo que as equipes testem seu código sem a necessidade do hardware físico.
             Isso é particularmente útil durante as etapas iniciais do desenvolvimento ou quando o acesso ao robô é limitado.</p>

      <p>  A comunidade FRC é conhecida por sua disposição em ajudar. Fóruns como o Chief Delphi e o subreddit r/FRC
           são locais onde as equipes podem buscar conselhos e compartilhar experiências. Participar dessas comunidades online 
           pode ser extremamente benéfico, especialmente quando enfrentamos desafios técnicos ou precisamos de orientação rápida.

      </p>

      
      </div>

        <div class="field-game"  style="display: none;" id="cont6">
            <h1> Field Game</h1>
           <p>
            Para garantir que todas as equipes estejam preparadas para o desafio, 
            deixamos abaixo o link dos itens do campo de jogo desta temporada, também disponíveis no site da FIRST.


           </p>


        </div>
      <div class="guia-chassi" id="cont5"  style="display: none;">
        <h1>Guia dos Chassis</h1>

        <p>Montar um chassi robusto e funcional é essencial para o sucesso em competições de robótica, como a FIRST Robotics Competition.
          O chassi é a base sobre a qual todos os outros sistemas do robô são construídos e deve ser projetado e montado com precisão.
           O primeiro passo na montagem do chassi é fixar os VersaChassis Gussets às extremidades do VersaFrame. 
           Isso normalmente é feito utilizando rebites pop de 5/32 de polegada, mas se for necessário criar buracos adicionais, 
          a equipe deve fazer isso com cuidado para garantir o alinhamento correto.</p>
       
          <p>Os gussets devem ser então alinhados com os trilhos laterais do chassi e fixados com parafusos #10-32 e porcas.
            Quando se trata de design para soldagem, é importante ter clareza sobre onde as soldas serão aplicadas,
             mesmo que elas não sejam desenhadas explicitamente. As soldas adicionam força sem um peso significativo,
              mas é fundamental projetar gussets de soldagem que possam ser fixados com rebites e ainda permitam espaço para a solda.
              As soldas devem ser lixadas cuidadosamente para evitar a remoção de material demais, o que pode enfraquecer a junção.
               O design para blocos 3D pode ser um desafio, mas fornece uma rigidez excepcional ao chassi. 
               Esses blocos geralmente são usados em conjunto com soldagem e gussets. Para montar, os blocos devem ser fixados uns 
               aos outros e aos tubos do chassi. </p>

         <p> A equipe 118, por exemplo, usou blocos de chassi 221 para anexar a barra de escada ao trilho de direção em seu robô de 
            2017. Na montagem final, todos os componentes devem ser cuidadosamente alinhados e fixados. 
            A montagem precisa garantir que o chassi do robô seja tão forte quanto corretamente alinhado.
             Uma vez montado, certifique-se de que todas as peças móveis operem livremente e sem obstruções.
              Aperte todos os parafusos e porcas e aplique trava-rosca onde for necessário para garantir que nada se solte sob
               as condições de tensão durante a competição.</p>
        
        <p>Além disso, é vital realizar um teste de integridade estrutural, aplicando uma força suave em várias partes do chassi para assegurar que não haja 
            flexibilidade ou movimento excessivo nas conexões.
            Em busca de impactar mais vidas e compartilhar os valores da FIRST e STEAM nos tornamos apoiadores e parceiros
            oficiais da ONG Ensinando Abraçar. Juntamente com os valores da ONG, conseguimos realizar diversas ações com nossa 
            comunidade, realizando tanto ações de doações de alimentos e oficinas de robótica, com o intuito de inspirar as crianças de
             todas as idades.
            </p>

        <p>Nossa parceria com a ONG tem sido fundamental para ampliar nosso alcance e promover iniciativas
             que consideramos importantes para serem compartilhadas com outras pessoas. 
             Esperamos continuar colaborando com a ONG Ensinando Abraçar e outras instituições nos próximos anos, que compartilham
              nossa visão, trabalhando juntos para criar um impacto maior e positivo em nossa comunidade.
        </p>
    </div>

    
    <div class="about-first" id="cont8" style="display: none;">
      <h1>Sobre a FIRST</h1>

          <p>FIRST é uma organização que inspira jovens através de programas de robótica e tecnologia, 
              preparando-os para serem líderes e inovadores. Fundada por Dean Kamen em 1989, 
              FIRST promove a celebração da ciência e tecnologia e incentiva jovens a se tornarem heróis nesses campos. </p>

          <p>  Com eventos como o FIRST Robotics Competition (FRC) para estudantes do ensino médio, a organização desafia equipes 
              a construírem robôs e resolverem problemas em um ambiente colaborativo e competitivo</p>

          <p> . Os valores de FIRST incluem "Gracious Professionalism®", que enfatiza o trabalho de qualidade, o respeito mútuo e a 
              valorização da comunidade, e "Coopertition®",</p>
             
          <p> que incentiva a cooperação entre competidores. O impacto de FIRST se estende para além dos eventos, 
              com participantes que frequentemente seguem para o ensino superior e carreiras em STEM, muitos voltando como mentores
               e voluntários, perpetuando o legado da organização.
          </p>

          
  </div>



  </div>
 
     <!--LOGIN-->
      
  <div class="modalfade" id="login-modal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display:none;">
    <div class="modal-dialog">
      <div class="loginmodal-container">
        <form action="../data/validacao-login.php" method="post">
          <button id="btn-close2" type="button" class="btn-close" aria-label="Close">X</button>
          <div class="login-box"> <!--LOGIN-BOX-->
              <h1>FAZER LOGIN</h1>
            <div class="input-login">
              <input class="email-login" type="text" name="login" placeholder="Digite seu email">
              <input class="senha-login" type="password" name="password" placeholder="Digite sua senha">
            </div>

            <input type="submit" name="logar" class="loginmodal-submit" value="ENTRAR">

            <div class="login-help">
            <a href="#" class="registro">Registrar-se</a> 
            <a href="#">Esqueceu sua senha?</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

      <!--FIM DO LOGIN-->

    <!--cadastro-->
    <div class="modal-fade" id="cadastro-modal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display:none;">
      <div class="modal-dialog">
      <div class="loginmodal-container">

      <form action="../data/validacao-login.php" method="post" class="cadastro">
        <button id="btn-close" type="button" class="btn-close" aria-label="Close">X</button>
  
      <div class="login-box">
        
        <div class="title_login">
          <h1>Cadastre-se</h1>
         
        </div>
          
         <!-- <label for="username">Login</label>-->
          <input type="text" name="login" placeholder="Digite seu nome de usuário">
          
          <!-- <label for="password">Senha</label>-->
          <input type="password" name="password" placeholder="Digite sua senha" class="senha1">
  
          <input type="submit" name="logar" class="loginmodal-submit" value="ENTRAR">
  
          <div class="login-help">
            <a href="#" class="registro">Registrar-se</a> 
            <a href="#" >Esqueceu a senha?</a>
            </div>
  
          </div>
  
        </form>
  
  
      </div>
    </div>
    </div>

    
  </body>


    <div class="footer-copyright" id="footer" style="display: block;">
      <div class="footer-copyright-wrapper">
        <p class="footer-copyright-text">
          <a class="footer-copyright-link" href="#" target="_self"> ©2024. | Designed By: Colossus and Krypton FRC. | All rights reserved. </a>
        </p>
      </div>
    </div>
  </div>
</html>

<script>
  
    document.addEventListener("DOMContentLoaded", function() {
    // Obtenha referências para o botão e a div
    var botaoModal = document.getElementById("btn-modal");
    var loginModal = document.getElementById("login-modal");
    var buttonMC = document.getElementById("cdnModal");
    var cdsModal = document.getElementById("cadastro-modal");
    var footer = document.getElementById("footer");
    var section1 = document.getElementById("sec-1");
    var section2 = document.getElementById("sec-2");
    var botaoHome = document.getElementById("btn-home");
    var footerIcon = document.getElementById("icon-link");


    //Elementos do Menu - BOTTONS
    var divMenu1 = document.getElementById("btn-menu1");
    var divMenu2 = document.getElementById("btn-menu2");
    var divMenu3 = document.getElementById("btn-menu3");
    var divMenu4 = document.getElementById("btn-menu4");
    var divMenu5 = document.getElementById("btn-menu5");
    var divMenu6 = document.getElementById("btn-menu6");
    var divMenu7 = document.getElementById("btn-menu7");
    var divMenu8 = document.getElementById("btn-menu8");

    //Elementos do Menu - CONTEÚDO
    var conteudoInicial = document.getElementById("conteudo-inicial");
    var conteudo1 = document.getElementById("cont1");
    var conteudo2 = document.getElementById("cont2");
    var conteudo3 = document.getElementById("cont3");
    var conteudo4 = document.getElementById("cont4");
    var conteudo5 = document.getElementById("cont5");
    var conteudo6 = document.getElementById("cont6");
    var conteudo7 = document.getElementById("cont7");
    var conteudo8 = document.getElementById("cont8");
    
    
    
    



    botaoModal.addEventListener("click", function() {
        // Altere a propriedade 'display' da div
        // Você pode usar "none" para esconder a div e "block" para mostrá-la, por exemplo
        if (loginModal.style.display === "none" || loginModal.style.display === "")  {
          loginModal.style.display = "block";
          cdsModal.style.display = "none";
          footerIcon.style.display = "none";
          conteudoInicial .style.display = "none";
          conteudo1.style.display = "none";
          conteudo2.style.display = "none";
          conteudo3.style.display = "none";
          conteudo4.style.display = "none";
          conteudo5.style.display = "none";
          conteudo6.style.display = "none";
          conteudo7.style.display = "none";
          conteudo8.style.display = "none";
          section1.style.display = "none";
          section2.style.display = "none";
        } 
        else {
          loginModal.style.display = "none";
          
        }

           
        if(loginModal.style.display ==="block"){
          conteudo1.style.display = "none";
          conteudo2.style.display = "none";
          conteudo3.style.display = "none";
          conteudo4.style.display = "none";
          conteudo5.style.display = "none";
          conteudo6.style.display = "none";
          conteudo7.style.display = "none";
          conteudo8.style.display = "none";
        }

  
    });

    

    buttonMC.addEventListener("click", function() {
        // Altere a propriedade 'display' da div
        // Você pode usar "none" para esconder a div e "block" para mostrá-la, por exemplo
        if (cdsModal.style.display === "none" || cdsModal.style.display === "") {
          cdsModal.style.display = "block";
          loginModal.style.display = "none";
          footer.style.display = "none";
          conteudoInicial.style.display = "none";
          conteudo1.style.display = "none";
          conteudo2.style.display = "none";
          conteudo3.style.display = "none";
          conteudo4.style.display = "none";
          conteudo5.style.display = "none";
          conteudo6.style.display = "none";
          conteudo7.style.display = "none";
          conteudo8.style.display = "none";
          section1.style.display = "none";
          section2.style.display = "none";

        } else {
          cdsModal.style.display = "none";
        }
        
        if(cdsModal.style.display ==="block"){
          conteudo1.style.display = "none";
          conteudo2.style.display = "none";
          conteudo3.style.display = "none";
          conteudo4.style.display = "none";
          conteudo5.style.display = "none";
          conteudo6.style.display = "none";
          conteudo7.style.display = "none";
          conteudo8.style.display = "none";
        }

  
    });



});

function closeModalCadastro() {
        document.getElementById('cadastro-modal').style.display = 'none';
    }

document.getElementById('btn-close').addEventListener('click', closeModalCadastro);


function closeModalLogin() {
        document.getElementById('login-modal').style.display = 'none';
    }

document.getElementById('btn-close2').addEventListener('click', closeModalLogin);


    // SEPARAÇÃO - JAVASCRIPT RELATIVO AO MENU DO FÓRUM

var section1 = document.getElementById("sec-1");
    var section2 = document.getElementById("sec-2");


    //Elementos do Menu - BOTTONS
    var divMenu1 = document.getElementById("btn-menu1");
    var divMenu2 = document.getElementById("btn-menu2");
    var divMenu3 = document.getElementById("btn-menu3");
    var divMenu4 = document.getElementById("btn-menu4");
    var divMenu5 = document.getElementById("btn-menu5");
    var divMenu6 = document.getElementById("btn-menu6");
    var divMenu7 = document.getElementById("btn-menu7");
    var divMenu8 = document.getElementById("btn-menu8");


    //Elementos do Menu - CONTEÚDO
    var conteudoInicial = document.getElementById("conteudo-inicial");
    var conteudo1 = document.getElementById("cont1");
    var conteudo2 = document.getElementById("cont2");
    var conteudo3 = document.getElementById("cont3");
    var conteudo4 = document.getElementById("cont4");
    var conteudo5 = document.getElementById("cont5");
    var conteudo6 = document.getElementById("cont6");
    var conteudo7 = document.getElementById("cont7");
    var conteudo8 = document.getElementById("cont8");

       // Alterando display da DIV 1 - Objetivos do Site  

       divMenu1.addEventListener("click", function() {
         
        if (conteudo1.style.display === "none")  {
          conteudo1.style.display = "block";
          conteudoInicial.style.display = "none";
          section1.style.display ="none";
          section2.style.display="none";
          conteudo2.style.display = "none";
          conteudo3.style.display = "none";
          conteudo4.style.display = "none";
          conteudo5.style.display = "none";
          conteudo6.style.display = "none";
          conteudo7.style.display = "none";
          conteudo8.style.display = "none";
          rodape.style.display ="none";
          footerIcon.style.display = "none";
    
        } else {
          conteudo1.style.display = "none";
          
        }
    });

    //Alterando display da DIV 2 - ROOKIE PARA ROOKIE

    divMenu2.addEventListener("click", function() {
         
         if (conteudo2.style.display === "none") {
           conteudo1.style.display = "none";
           conteudoInicial.style.display = "none";
           section1.style.display ="none";
           section2.style.display="none";
           conteudo2.style.display = "block";
           conteudo3.style.display = "none";
           conteudo4.style.display = "none";
           conteudo5.style.display = "none";
           conteudo6.style.display = "none";
           conteudo7.style.display = "none";
           conteudo8.style.display = "none";
           rodape.style.display ="none";
           footerIcon.style.display = "none";
     
         } else {
           conteudo2.style.display = "none";
           
         }
     });


      //Alterando o display da DIV 3 - Game Manual
     divMenu3.addEventListener("click", function() {
         
         if (conteudo3.style.display === "none") {
           conteudo1.style.display = "none";
           conteudoInicial.style.display = "none";
           section1.style.display ="none";
           section2.style.display="none";
           conteudo2.style.display = "none";
           conteudo3.style.display = "block";
           conteudo4.style.display = "none";
           conteudo5.style.display = "none";
           conteudo6.style.display = "none";
           conteudo7.style.display = "none";
           conteudo8.style.display = "none";
           rodape.style.display ="none";
           footerIcon.style.display = "none";
     
         } else {
           conteudo3.style.display = "none";
           
         }
     });

         //Alterando o display da DIV 4 - Guia de Montagem - KitBot
         divMenu4.addEventListener("click", function() {
         
         if (conteudo4.style.display === "none") {
           conteudo1.style.display = "none";
           conteudoInicial.style.display = "none";
           section1.style.display ="none";
           section2.style.display="none";
           conteudo2.style.display = "none";
           conteudo3.style.display = "none";
           conteudo4.style.display = "block";
           conteudo5.style.display = "none";
           conteudo6.style.display = "none";
           conteudo7.style.display = "none";
           conteudo8.style.display = "none";
           rodape.style.display ="none";
           footerIcon.style.display = "none";
     
         } else {
           conteudo4.style.display = "none";
           
         }
     });

     //Alterando o display da DIV 5 - Guia de Montagem - Chassis
     divMenu5.addEventListener("click", function() {
         
         if (conteudo5.style.display === "none") {
           conteudo1.style.display = "none";
           conteudoInicial.style.display = "none";
           section1.style.display ="none";
           section2.style.display="none";
           conteudo2.style.display = "none";
           conteudo3.style.display = "none";
           conteudo4.style.display = "none";
           conteudo5.style.display = "block";
           conteudo6.style.display = "none";
           conteudo7.style.display = "none";
           conteudo8.style.display = "none";
           rodape.style.display ="none";
           footerIcon.style.display = "none";
     
         } else {
           conteudo5.style.display = "none";
           
         }
     });

     //Alterando o display da DIV 6 - Field Game
     divMenu6.addEventListener("click", function() {
         
         if (conteudo6.style.display === "none") {
           conteudo1.style.display = "none";
           conteudoInicial.style.display = "none";
           section1.style.display ="none";
           section2.style.display="none";
           conteudo2.style.display = "none";
           conteudo3.style.display = "none";
           conteudo4.style.display = "none";
           conteudo5.style.display = "none";
           conteudo6.style.display = "block";
           conteudo7.style.display = "none";
           conteudo8.style.display = "none";
           rodape.style.display ="none";
     
         } else {
           conteudo6.style.display = "none";
           
         }
     });

    //Alterando o display da DIV 7 -Guia de Programação
     divMenu7.addEventListener("click", function() {
         
         if (conteudo7.style.display === "none") {
           conteudo1.style.display = "none";
           conteudoInicial.style.display = "none";
           section1.style.display ="none";
           section2.style.display="none";
           conteudo2.style.display = "none";
           conteudo3.style.display = "none";
           conteudo4.style.display = "none";
           conteudo5.style.display = "none";
           conteudo6.style.display = "none";
           conteudo7.style.display = "block";
           conteudo8.style.display = "none";
           rodape.style.display ="none";
     
         } else {
           conteudo7.style.display = "none";
           
         }
     });

     //Alterando o display da DIV 8 - Sobre a FIRSTp
     divMenu8.addEventListener("click", function() {
         
         if (conteudo8.style.display === "none") {
           conteudo1.style.display = "none";
           conteudoInicial.style.display = "none";
           section1.style.display ="none";
           section2.style.display="none";
           conteudo2.style.display = "none";
           conteudo3.style.display = "none";
           conteudo4.style.display = "none";
           conteudo5.style.display = "none";
           conteudo6.style.display = "none";
           conteudo7.style.display = "none";
           conteudo8.style.display ="block";
     
         } else {
           conteudo8.style.display = "none";
           
         }

       
     });



</script>
