<!DOCTYPE html>
  <html lang="pt-br" >
  <head>
    <meta charset="UTF-8">
    <title>Aliança Rookie</title>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css'><link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/login-modal.css">
    <link rel="stylesheet" href="../css/conteudoCentral.css">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@100&family=Raleway:wght@100&display=swap" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
  
  </head>
  <body class="fullscreen">
  <!-- partial:index.partial.html -->

    <div class="search-bar">
      <h4>TheRookieAlliance</h4>

        
      <img src="imagem logo.png"  class="img"  alt="">

      <div class="search-box">
        <button class="btn-search"><i class="fas fa-search"></i></button> 
        <input type="text" class="input-search" placeholder="O que você procura?">
      </div>

        <img src="WhatsApp_Image_2024-02-09_at_10.11.54-removebg-preview.png" alt="" class="img2">
    </div>

  <div class="topnav">
    <a href="#home">Home</a>
    <a id="cdnModal" class="login-button" href="#" data-target="#cadastro" data-toggle="valid">Cadastrar</a>
    <a id="btn-modal" class="login-button" href="#" data-target="#login" data-toggle="modal">Login</a>
    <a href="#about">Filtros</a>
    
 
  </div>


  <div class="conteudo-total">


  <div id="nav-bar">
    <input id="nav-toggle" type="checkbox"/>
      <div id="nav-header" class="tittle-menu">
     
    
        <a id="nav-title" href="#" class="tittle-menu">Início</a>
       
        <label for="nav-toggle"><span id="nav-toggle-burger"></span></label>
        
        <hr/>    
      </div>
    
    
   
      <div class="sc">


    <div id="nav-content">
    </br></br>
      
      
      <div class="nav-button"><i class="fas fa-images"></i><span>Objetivos do Site</span></div>
      <div class="nav-button"><i class="fas fa-thumbtack"></i><span>De Rookie para Rookie - Videoconferência</span></div>
      <div class="nav-button"><i class="fas fa-heart"></i><span>Game Manual 2024 - Crescendo</span></div>
      <div class="nav-button"><i class="fas fa-chart-line"></i><span>Guia de Montagem - Kitbot  </span></div>
      <div class="nav-button"><i class="fas fa-fire"></i><span>Guia de Montagem - Chassis</span></div>
      <div class="nav-button"><i class="fas fa-magic"></i><span>CAD - Field Game</span></div>
      <div class="nav-button"><i class="fas fa-gem"></i><span>Guia de Programação</span></div>
      <div id="nav-content-highlight"></div>
       
      </div>
                
        <div class="modal fade" id="login-modal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display:none;">
          <div class="modal-dialog">
          <div class="loginmodal-container">
            
          <form action="../data/validacao-login.php" method="post">
            <button id="btn-close2" type="button" class="btn-close" aria-label="Close">X</button>

          <div class="login-box">
            
            <div class="title_login">
              <h1>FAZER LOGIN</h1>
             
            </div>
              
             <!-- <label for="username">Login</label>-->
              <input type="text" name="login" placeholder="Digite seu nome de usuário">
              
              <!-- <label for="password">Senha</label>-->
              <input type="password" name="password" placeholder="Digite sua senha" class="senha1">

              <input type="submit" name="logar" class="loginmodal-submit" value="ENTRAR">

              <div class="login-help">
                <a href="#" class="registro">Registrar-se</a> 
                <a href="#" >Esqueceu a senha?</a>
                </div>

              </div>

            </form>

   
          </div>
        </div>
        </div>

          <!--cadastro-->

        <div class="modal-cadastro" id="cadastro-modal" style="display: none;">
          <div class="modal-dialog-c">
            <div class="loginmodal-container">

            <form action="validacao-cadastro.php" method="post" >
              <button id="btn-close" type="button" class="btn-close" aria-label="Close">X</button></br>
              
            <h1> Bem-vindo! </h1>

              <label for="login">Email</label>
              <input type="text" id="login2" name="login2" class="email" required placeholder="ex: aliancarookie@gmail.com">

              <label for="login">Nome</label>
              <input type="text" id="login2" name="login2" required placeholder="Nome de Usuário">
  
              <label for="senha">Senha</label>
              <input type="password" id="senha2" name="senha2" required placeholder="Digite sua senha">
  
              <label for="senha">Confirme sua senha</label>
              <input type="password" id="senha2" name="senha3" required>
  
              <label for="equipe">Número da Equipe</label>
              <input type="number" id="equipe" name="equipe2" required>
  
              <button type="submit">Cadastrar</button>
  
            </div>
          </div>
          </div>
          
        </form>
          
        </div>
     



      

    </div>
    
    <div class="conteudo-central" id="conteudo1">
        <img src="imagem logo.png" alt="">
        <h1>THE ROOKIE ALLIANCE</h1>
        <h2>Para o avanço das equipes Rookies!</h2>
         
        <input type="text" class="input-conteudo" placeholder=" ">
    </div>
  </div>
 
  <!-- partial -->
    
  </body>
</html>

<script>
  
document.addEventListener("DOMContentLoaded", function() {
    // Obtenha referências para o botão e a div
    var botaoModal = document.getElementById("btn-modal");
    var loginModal = document.getElementById("login-modal");
    var buttonMC = document.getElementById("cdnModal");
    var cdsModal = document.getElementById("cadastro-modal");


    botaoModal.addEventListener("click", function() {
        // Altere a propriedade 'display' da div
        // Você pode usar "none" para esconder a div e "block" para mostrá-la, por exemplo
        if (loginModal.style.display === "none" || loginModal.style.display === "")  {
          loginModal.style.display = "block";
          cdsModal.style.display = "none";
        } else {
          loginModal.style.display = "none";
          
        }
    });

    buttonMC.addEventListener("click", function() {
        // Altere a propriedade 'display' da div
        // Você pode usar "none" para esconder a div e "block" para mostrá-la, por exemplo
        if (cdsModal.style.display === "none" || cdsModal.style.display === "") {
          cdsModal.style.display = "block";
          loginModal.style.display = "none";

        } else {
          cdsModal.style.display = "none";
        }
    });



});

function closeModalCadastro() {
        document.getElementById('cadastro-modal').style.display = 'none';
    }

document.getElementById('btn-close').addEventListener('click', closeModalCadastro);


function closeModalLogin() {
        document.getElementById('login-modal').style.display = 'none';
    }

document.getElementById('btn-close2').addEventListener('click', closeModalLogin);


</script>
