.loginmodal-container{
    width: 50vw;
    height: 50vh;
    
}



.modal-dialog{
    margin-left: 23vw;
    margin-top: 5vh;
}

form {

    background-color: rgba(255, 255, 255, 0.13);
    color: black;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 47%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 25px rgba(8, 7, 16, 0.2); 
    padding: 50px 35px;
    margin-bottom: 8vh;
    padding-bottom: 10vh;
    margin-left: 7%;
   
  }

  form * {
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
 
    margin-left: 10px;
  }

  form h1{
     
     font-size: 23px;
  }

  form p{
    margin-top: -1vw;
  }

  .senha1{
    margin-top: 5%;
  }
 

  input {
    display: block;
    height: 30px;
    width: 80%;
    background-color:  rgba(230, 221, 235, 0.436);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 20px;
    font-size: 14px;
    margin-bottom: 6%;
    margin-left: 10px;

    
  }

  .loginmodal-submit{
    margin-top: 3vh;
    height: 40px;
    margin-left: 5%;
  }

 
  
  .login-box{
    margin-left: 20px;
  }

 form a{

    margin-right: 2.5vw;
    font-size: 14px;
 }

.login-help{
  margin-top: 1vh;
}


.btn-close {
  cursor: pointer;
  background: none;
  color: rgb(193, 184, 184);
  margin-top: -10px;

}
.cadastro {

   
    background-color: rgba(255, 255, 255, 0.13);
    color: black;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 47%;
    left:60%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 25px rgba(8, 7, 16, 0.2); 
    padding: 50px 35px;
    margin-bottom: 8vh;
    padding-bottom: 10vh;
    margin-left: 7%;
   
  }