<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REPOSITORIO conteudo-central</title>
</head>
<body>
    
    <div class="about-first">
        <h1>Sobre a FIRST</h1>

            <p>FIRST é uma organização que inspira jovens através de programas de robótica e tecnologia, 
                preparando-os para serem líderes e inovadores. Fundada por Dean Kamen em 1989, 
                FIRST promove a celebração da ciência e tecnologia e incentiva jovens a se tornarem heróis nesses campos. </p>

            <p>  Com eventos como o FIRST Robotics Competition (FRC) para estudantes do ensino médio, a organização desafia equipes 
                a construírem robôs e resolverem problemas em um ambiente colaborativo e competitivo</p>

            <p> . Os valores de FIRST incluem "Gracious Professionalism®", que enfatiza o trabalho de qualidade, o respeito mútuo e a 
                valorização da comunidade, e "Coopertition®",</p>
               
            <p> que incentiva a cooperação entre competidores. O impacto de FIRST se estende para além dos eventos, 
                com participantes que frequentemente seguem para o ensino superior e carreiras em STEM, muitos voltando como mentores
                 e voluntários, perpetuando o legado da organização.
            </p>

            
    </div>

    <div class="game-manual">
        <h1>Game Manual</h1>

            <p>Para compreender os processos técnicos, as equipes utilizam o game manual,
                 um documento essencial que detalha as regras do desafio anual, as especificações do robô e a estrutura da competição.</p>

            <p>Este manual não é apenas um conjunto de instruções; ele é o guia dos competidores ao longo da temporada, 
                servindo como um recurso imprescindível para a construção de estratégias e compreensão profunda dos objetivos do jogo.
            </p>
    </div>

    <div class="kitbot-montagem">
        <h1>KitBot - Guia de Montagem</h1>      
        
            <p>Fazendo parte do Kit de Peças (KoP), o KitBot foi projetado para ser um ponto de partida acessível e confiável, </p>

            <p>, a partir do qual o robô da equipe começará a ganhar forma. Este manual fornece instruções passo a passo essenciais
                 para a montagem do chassi e dos sistemas de transmissão incluídos no Kit de Peças (KoP).</p>

            <p>Ele garante que todas as equipes, independentemente do nível de experiência ou recursos,
                 possam começar com uma base resistente e funcional.
            </p>

            <p>Antes de iniciar a montagem, é crucial verificar se todas as peças listadas estão presentes e em boas condições. 
                A falta de qualquer peça ou a presença de peças danificadas pode atrasar o processo de construção e prejudicar a 
                funcionalidade do robô.
            </p>
            
            <p>Incluímos abaixo o layout do chassi, conforme ilustrado no Manual de Montagem do Kit Bot. </p>


    </div>

    <div class="forRookie">
       <h1>Rookie para Rookie</h1>

        <p>O projeto “Rookie para Rookie” é uma iniciativa criada pela equipe #9487 a fim de aproximar e 
        facilitar o compartilhamento de experiências entre equipes novatas e experientes ao redor do mundo.
         </p> 

         <p> O projeto consiste em uma comunidade criada no whatsapp onde todas as equipes Rookies estão presentes,
             e a cada semana é disponibilizado um cronograma com videoconferências com equipes experientes nacionais e internacionais,
              onde possibilita às equipes tirarem dúvidas e receberem dicas sobre áreas específicas.
               O projeto já contou com diversas participações de equipes como UnderControl #1156, Megazord #7563 entre outras.  
            </p>

    
    </div>

    <div class="guia-program">
        <h1> Guia de Programação</h1>

            <p>Quando se trata de programação de robôs na FRC, o ponto de partida para novas equipes deve ser a escolha de uma linguagem
                 de programação. As opções incluem Java, C++ e LabVIEW. </p>

            <p> A decisão pode ser influenciada pela familiaridade dos mentores e alunos com essas linguagens. </p>

            <p> Uma vez escolhida a linguagem, a biblioteca de software WPILib se revela como um recurso fundamental, 
                oferecendo uma ampla gama de funcionalidades para controlar o hardware do robô</p>
            
            <p>  Explorar os exemplos de código da WPILib e compreender suas aplicações práticas proporciona uma base sólida para o 
                desenvolvimento inicial. A configuração do ambiente de desenvolvimento também é crítica.</p>
            
            <p> A documentação oficial da WPILib, acessível online, é um recurso excelente e detalhado. Tutoriais em vídeo e artigos
                 também podem ser encontrados em abundância, criados tanto pela própria FIRST quanto por outras equipes experientes.
                  A simulação é outra ferramenta valiosa, permitindo que as equipes testem seu código sem a necessidade do hardware físico.
                   Isso é particularmente útil durante as etapas iniciais do desenvolvimento ou quando o acesso ao robô é limitado.</p>

            <p>  A comunidade FRC é conhecida por sua disposição em ajudar. Fóruns como o Chief Delphi e o subreddit r/FRC
                 são locais onde as equipes podem buscar conselhos e compartilhar experiências. Participar dessas comunidades online 
                 pode ser extremamente benéfico, especialmente quando enfrentamos desafios técnicos ou precisamos de orientação rápida.

            </p>

            
            </div>

            <div class="guia-chassi">
                <h1>Guia dos Chassis</h1>

                <p>Montar um chassi robusto e funcional é essencial para o sucesso em competições de robótica, como a FIRST Robotics Competition.
                  O chassi é a base sobre a qual todos os outros sistemas do robô são construídos e deve ser projetado e montado com precisão.
                   O primeiro passo na montagem do chassi é fixar os VersaChassis Gussets às extremidades do VersaFrame. 
                   Isso normalmente é feito utilizando rebites pop de 5/32 de polegada, mas se for necessário criar buracos adicionais, 
                  a equipe deve fazer isso com cuidado para garantir o alinhamento correto.</p>
               
                  <p>Os gussets devem ser então alinhados com os trilhos laterais do chassi e fixados com parafusos #10-32 e porcas.
                    Quando se trata de design para soldagem, é importante ter clareza sobre onde as soldas serão aplicadas,
                     mesmo que elas não sejam desenhadas explicitamente. As soldas adicionam força sem um peso significativo,
                      mas é fundamental projetar gussets de soldagem que possam ser fixados com rebites e ainda permitam espaço para a solda.
                      As soldas devem ser lixadas cuidadosamente para evitar a remoção de material demais, o que pode enfraquecer a junção.
                       O design para blocos 3D pode ser um desafio, mas fornece uma rigidez excepcional ao chassi. 
                       Esses blocos geralmente são usados em conjunto com soldagem e gussets. Para montar, os blocos devem ser fixados uns 
                       aos outros e aos tubos do chassi. </p>

                 <p> A equipe 118, por exemplo, usou blocos de chassi 221 para anexar a barra de escada ao trilho de direção em seu robô de 
                    2017. Na montagem final, todos os componentes devem ser cuidadosamente alinhados e fixados. 
                    A montagem precisa garantir que o chassi do robô seja tão forte quanto corretamente alinhado.
                     Uma vez montado, certifique-se de que todas as peças móveis operem livremente e sem obstruções.
                      Aperte todos os parafusos e porcas e aplique trava-rosca onde for necessário para garantir que nada se solte sob
                       as condições de tensão durante a competição.</p>
                
                <p>Além disso, é vital realizar um teste de integridade estrutural, aplicando uma força suave em várias partes do chassi para assegurar que não haja 
                    flexibilidade ou movimento excessivo nas conexões.
                    Em busca de impactar mais vidas e compartilhar os valores da FIRST e STEAM nos tornamos apoiadores e parceiros
                    oficiais da ONG Ensinando Abraçar. Juntamente com os valores da ONG, conseguimos realizar diversas ações com nossa 
                    comunidade, realizando tanto ações de doações de alimentos e oficinas de robótica, com o intuito de inspirar as crianças de
                     todas as idades.
                    </p>

                <p>Nossa parceria com a ONG tem sido fundamental para ampliar nosso alcance e promover iniciativas
                     que consideramos importantes para serem compartilhadas com outras pessoas. 
                     Esperamos continuar colaborando com a ONG Ensinando Abraçar e outras instituições nos próximos anos, que compartilham
                      nossa visão, trabalhando juntos para criar um impacto maior e positivo em nossa comunidade.
                </p>
            </div>
</body>
</html>